body{
  font-family: "arial unicode ms";
  color: black;
  margin: 0;
  width: 0;
  height: 2473px;
}

li{
  list-style: none;
}

*{
  box-sizing: border-box;
}

a{
  color: black;
  text-decoration: none;
}

.header-top{
  height: 70px;
  color: black;
  background-color: white;
  border-top: 8px solid black;
  position: fixed;
  z-index: 990;
  width: 100%;
}

.header-btn{
  margin: 0 878px;
  width: 200px;
}

.header-titoru{
  text-align: center;
  color: black;
  width: 200px;
  cursor:pointer;
}


.header-lisut{
  height: 60px;
  width: 1903px;
  position: relative;
  top: 56px;
}

.lisuto li{
  float: left;
  margin: 10px;
}

.clear{
  clear: left;
}

.lisuto{
  padding-left: 35px;
  position: relative;
  display: inline-block;
  left: 750px;
  top: 25px;
  margin: 0;
  width: 498px;
  height: 36px;
}

#b1{
 position: relative;
 right: 35px;
 top: 1px;
}

#b2{

}

#b3{
  position: relative;
  left: 30px;
}

.boda-btn{
  top: 69px;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  z-index: 1000
}

.main-top{
  position: absolute;
  top: 130px;
  width: 1903px;
  background: linear-gradient(-40deg, #fff0f5, #ffc0cb);
}


.main-image{
  height: 585px;
  width: 1903px;
  }

.main-image h1{
  position: relative;
  left: 57%;
  top: 188px;
  font-size: 40px;
  letter-spacing: 15px;
  display: inline-block;
  margin: 0;
}

.main-image p{
  position: relative;
  display: inline-block;
  left: 48%;
  font-size: 40px;
  top: 286px;
  margin: 0;
}

.image{
  height: 585px;
  background-size: cover;
  width: 835px;
  position: relative;
  bottom: 54px;
  background-image: url(https://d35omnrtvqomev.cloudfront.net/photo/article/article_part/image_path_1/103390/5be581e8f42378c0318de8e268ce35.jpg);
}

.main{
  position: relative;
  top: 700px;
  left: 210px;
  width: 1454px;
}

.main-tag01{

}

.main1{
  height: 740px;
}

.tagu1{
  margin: 0;
  width: 801px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 10px;
}

.tagu2{
 margin-bottom: 10px;
 margin-top: 0;
 width: 549px;
 position: relative;
 left: 101px;
 bottom: 559px;
 color: white;
 background-color: black;
 display: inline-block;
 line-height: 10px;
}

.main-img1{
  width: 800px;
}

.main-img2{
 position: relative;
 left: 905px;
 width: 549px;
 bottom: 559px;
 height: 680px;
}

.main-tag02{
  height: 660px;
  position: relative;
  top: 50px;
  width: 107%;
}

.main2{
  height: 660px;
  position: relative;
}

.tagu3{
  display: inline-block;
  line-height: 10px;
  width: 731px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
  position: absolute;
}

.tagu4{
  display: inline-block;
  position: absolute;
  left: 775px;
  width: 671px;
  line-height: 10px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
}

.main-img3{
  position: absolute;
  top: 60px;
  width: 42%;
}

.main-img4{
  position: absolute;
  left: 776px;
  top: 60px;
  width: 43%;
}

.footer-line{
    position: relative;
    top: 773px;
    background-color: black;
    height: 240px;
    width: 1903px;
}

.footer-titru{
    text-align: center;
    position: relative;
    top: 55px;
}

.footers-titru1{
  display: inline-block;
  position: relative;
  right: 5%;
  color: white;
}

.footers-titru2{
  display: inline-block;
  position: relative;
  right: 3%;
  color: white;
}

.footers-titru3{
  display: inline-block;
  position: relative;
  right: 1%;
  width: 70px;
  color: white;
}
